
<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="restaurantPickerMain.html">
        <center><div style="margin-bottom: 30px;">
            <br />
            <h2 style="margin-bottom: 20px;">Select your mood 
                <br /> &amp; <br /> 
                search for food!</h2>
            <select ng-model="filters.categories">
                <option ng-repeat="x in filters.moods" value="{{x.mood}}">{{x.mood}}
                </option>
            </select>
        </div></center>

        <div class="btn-group-vertical" role="group">

            <center><button class="btn btn-default" ng-click="feelingLucky('restaurantPickerResults.html')">
                Search for Food!
            </button></center>
        </div>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="restaurantPickerDetails.html"> 
	<!-- OPEN DATA -->
    <div class="collapseMe">
        <widget-row>
            <widget-cell>
                <h2>Your Choices!</h2>
            </widget-cell>
        </widget-row>
        <!-- using AngularJS 'limitTo' to shorten the list to 5 items -->
        <widget-list list="item in searchData.value">
            <widget-row>
                <widget-cell>
                <div class="itemName">{{item.name}}</div>
                <div class="pDetails">{{item.location.address1}}</div>
                </widget-cell>
            </widget-row>
        </widget-list>
    </div>
</script>