
<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="restaurantPickerMain.html">
        <center><div style="margin-bottom: 30px;">
            <br />
            <h2 style="margin-bottom: 20px;">Select your mood
                <br /> to <br /> search for food!</h2>
            <select ng-model="filters.categories">
                <option ng-repeat="x in filters.moods" value="{{x.mood}}">{{x.mood}}
                </option>
            </select>
        </div></center>

        <div class="btn-group-vertical" role="group">
            <center><button class="btn btn-default" ng-click="feelingLucky('restaurantPickerResults.html')">
                Search for Food!
            </button></center>
        </div>
    <div class="btn-group-vertical" role="group">
            <center><button class="btn btn-default" ng-click="changePage('restaurantPickerFilter.html')">
                Advanced Filters
            </button></center>
        </div>
</script>

<!-- page of advanced filter -->
<script type="text/ng-template" id="restaurantPickerFilter.html">
    <h1>Search Filters</h1>
    <div class="collapseMe">
            <div style="margin-bottom: 15px;">
                <p>Distance:</p>
                <select ng-model="filters.selectedRadius">
                    <option ng-repeat="x in filters.dropDownData" value="{{x.radius}}">{{x.radius}} </option>
                </select>
            </div>

            <div style="margin-bottom: 15px;">
                <p>Are you vegetarian?:</p>
                <select ng-model="filters.vegetarian">
                    <option ng-repeat="x in filters.dropDownData" value="{{x.vegetarian}}">{{x.vegetarian}} </option>
                </select>
            </div>

            <div style="margin-bottom: 15px;">
                <p>Are you vegan?:</p>
                <select ng-model="filters.vegan">
                    <option ng-repeat="x in filters.dropDownData" value="{{x.vegan}}">{{x.vegan}} </option>
                </select>
            </div>

            <div style="margin-bottom: 15px;">
                <p>Select a price. ($$$$ means any price):</p>
                <select ng-model="filters.price">
                    <option ng-repeat="x in filters.prices" value="{{x.price}}">{{x.price}} </option>
                </select>
            </div>
    </div>
     <div class="btn-group-vertical" role="group">
            <button class="btn btn-default" ng-click="changePage('restaurantPickerMain.html')">
                Back
            </button>
        </div>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="restaurantPickerResults.html">
    <!-- OPEN DATA -->
    <div class="item item-divider">Your Choices!</div>
	<div class="item" ng-repeat="item in searchData.value" ng-click="showDetails(item)">
		<b>{{item.name}}</b>
		<p>{{item.location.address1}}</p>
        <i class="ion-chevron-right icon" align="right"></i>
        <p>{{item.rating}}/5 Stars</p>
	</div>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="restaurantPickerDetails.html"> 
	<!-- OPEN DATA -->
	<div class="item" >
		<b>{{item.value.name}}</b>
		<p>Address: {{item.value.location.address1}}</p>
        <p>{{item.value.rating}}/5 Stars out of {{item.value.review_count}} reviews on Yelp</p>
         <p>Price: {{item.value.price}}</p>
        <p>Type of Cuisine: {{item.value.categories[0].title}}</p>
        <p>Phone Number: {{item.value.display_phone}}</p>
        <div class="image-wrapper-mobile">
            <img class="image-mobile" src="{{item.value.image_url}}" alt="Image" />
 	    </div>
	</div>
    
      <div class="btn-group-vertical" role="group">
            <button class="btn btn-default" ng-click="changePage('restaurantPickerResults.html')">
                Back
            </button>
        </div>
</script>