.label{
	margin-right:5px;
}

.image-wrapper {
    display: table-row;
    max-height:200px;
    max-width:300px;
    height: auto;
}

.image {
    width: 200px;
    height: 200px;
}
.image-wrapper-mobile {
    display: table-row;
    max-height:200px;
    max-width:300px;
    height: auto;
}

.image-mobile {
    width: 300px;
    height: 300px;
}
