<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="restaurantPickerMain.html">
    <widget-row>
        <center><h2 style="margin-bottom: 20px">Food Match Maker</h2>
        <div style="margin-bottom: 15px;">
            <br/>
            <h2 style="margin-bottom: 15px;">Select your mood 
                <br/>to <br/>search for food!</h2>
            <select ng-model="filters.categories">
                <option ng-repeat="x in filters.moods" value="{{x.mood}}">{{x.mood}}
                </option>
            </select>
        </div>

        <div class="btn-group-vertical" role="group">
            <button class="btn btn-default" ng-click="feelingLucky('restaurantPickerResults.html')">
                Search for Food!
            </button>
        </div></center>
    </widget-row>
    
     <widget-row clickable ng-click="changePage('restaurantPickerFilter.html')"><br />
        <widget-cell fill>Advanced Filters</widget-cell>
        <widget-cell>
            <widget-icon name="angle-right"></widget-icon>
        </widget-cell>
    </widget-row>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="restaurantPickerResults.html">
    <!-- OPEN DATA -->
    <div class="collapseMe">
        <widget-row>
            <widget-cell>
                <h2>Your Choices!</h2>
            </widget-cell>
        </widget-row>
        <widget-list list="item in searchData.value | limitTo:3">
            <widget-row clickable ng-click="showDetails(item)">
                <widget-cell fill>
                    <div class="itemName">{{item.name}}</div>
                    <div class="pDetails">{{item.location.address1}}</div>
                    <div class="pDetails">{{item.rating}}/5 Stars</div>
                </widget-cell>
                <wc>
                    <wi name="angle-right" />
                </wc>
            </widget-row>
        </widget-list>
    </div>
</script>

<script type="text/ng-template" id="restaurantPickerFilter.html">
    <h1>Search Filters</h1>
    <div class="collapseMe">
        <widget-row>
            <div style="margin-bottom: 15px;">
                <p>Distance:</p>
                <select ng-model="filters.selectedRadius">
                    <option ng-repeat="x in filters.dropDownData" value="{{x.radius}}">{{x.radius}} </option>
                </select>
            </div>

            <div style="margin-bottom: 15px;">
                <p>Are you vegetarian?:</p>
                <select ng-model="filters.vegetarian">
                    <option ng-repeat="x in filters.dropDownData" value="{{x.vegetarian}}">{{x.vegetarian}} </option>
                </select>
            </div>

            <div style="margin-bottom: 15px;">
                <p>Are you vegan?:</p>
                <select ng-model="filters.vegan">
                    <option ng-repeat="x in filters.dropDownData" value="{{x.vegan}}">{{x.vegan}} </option>
                </select>
            </div>

            <div style="margin-bottom: 15px;">
                <p>Select a price. ($$$$ means any price):</p>
                <select ng-model="filters.price">
                    <option ng-repeat="x in filters.prices" value="{{x.price}}">{{x.price}} </option>
                </select>
            </div>
        </widget-row>
    </div>
     <div class="btn-group-vertical" role="group">
            <button class="btn btn-default" ng-click="changePage('restaurantPickerMain.html')">
                Back
            </button>
        </div>
</script>

<script type="text/ng-template" id="restaurantPickerDetails.html">
    <widget-row>
        <widget-cell>
            <h2>{{item.value.name}}</h2>
            <hr />
            <div class="pDetails">Address: {{item.value.location.address1}}</div>
            <div class="pDetails">{{item.value.rating}}/5 Stars out of {{item.value.review_count}} reviews on Yelp</div>
            <div class="pDetails">Price: {{item.value.price}}</div>
            <div class="pDetails">Type of Cuisine: {{item.value.categories[0].title}}</div>
            <div class="pDetails">Phone Number: {{item.value.display_phone}}</div>
            <div class="image-wrapper">
                        <img class="image" src="{{item.value.image_url}}" alt="Image" />
                    </div>
        </widget-cell>
    </widget-row>
    <div class="btn-group-vertical" role="group">
            <button class="btn btn-default" ng-click="changePage('restaurantPickerResults.html')">
                Back
            </button>
        </div>
</script>